* {
  margin: 0;
  scroll-behavior: smooth;
}
body {
  cursor: url("./images/cursor.png"), auto;
}

/* Chrome ,Safari,Edge,Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.greenColor {
  color: green !important;
}
.redColor {
  color: red !important;
}

.bhead {
  border: none;
}
.btn-7 {
  text-decoration: none;
}

.hmbk {
  color: white;
}

.hmbk1 {
  color: rgb(96, 93, 93);
}
